.player-card {
    border: 1px solid #000000;
    border-radius: 2rem;
    padding: 1.25rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}

#players .player-card {
    width: 50%;
    margin: 0 auto;
}

.info-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #e30606;
    color: #fff200;
    border-radius: 0.25rem;
}

.info-btn:hover {
    background-color: #4d0000;
}

.img-player{
    width: 16rem;
}

.flag {
    width: 4rem;
    height: 2.8rem;
    border: 1px solid #000000;
}
